<div class="alert alert-danger" role="alert" ng-repeat="alert in alerts">{{alert}}</div>

<div google-chart chart="chart" style="height:600px; width:100%;">Loading....</div>

<table class="table table-hover">
	<tr ng-repeat="row in data" ng-if="$index == 0">
		<th class="btn-info" ng-repeat="(key,value) in row">
			{{key}}
		</th>
	</tr>
	<tr ng-repeat="row in data">
		<td class="{{color[$parent.$index][key]}}" ng-repeat="(key,value) in row">
			{{value}}
		</td>
	</tr>
</table>

<hr/>

<pre>
{{chart | json}}
</pre>
